
.App{

}
.tooltip{
  display:inline-flex;
justify-content: space-between;
  margin-top: 0.80rem !important;
  min-width: 20px;
  font-size: 0.55rem;
  padding-right: 2rem;
  padding-left: 0rem;
}



.tooltip>button{
  text-align: center;

  font-size: 0.55rem;
  padding: auto;
  margin-top: 0;
  margin-bottom: auto;

}

.autocomplete{
  margin-left:50%
}
.autodraver{
  margin-left:40%
}

.tooltip{
 display:inline-flex;
  justify-content: space-around;
  margin-top: 0.80rem !important;
  min-width: 20px;
  font-size: 0.55rem;
  padding-right: 2rem;
  padding-left: 0rem;
}
.logintop{
    background-image: url("./../src/img/turbo.jpg") ;
    background-size: cover;
    width: 100%;
    height: 100%;

}
.insideformdiv{
margin-left:20%;
margin-right:20%}
.ploginform{
    cursor: pointer;
    font-size: 0.60rem;
}
.registersection{
    display: flex;
    justify-content: space-evenly;
}
.ptoplogin{
    font-size: 1rem;
}

.partsSearchRow{
    background: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
}
.partsTableDiv{
    margin-top: 100px;
}

.partsTable {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.partsTh, .partsTd {
    text-align: left;
    padding: 8px;
}

.partsTr:nth-child(even){background-color: #f2f2f2}

.tdName{
    width: 20%;

}

.tdAmount, .tdAdd, .tdSubtract{
    width: 5%;
    text-align: center;
}

.tdShoppingCart{
    width: 10%
}

.partsButton {
    background-color: #2196f3; /* Green */
    border: none;
    border-radius: 10%;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.partsButton:hover {
    box-shadow: 0 8px 11px 0 rgba(0,0,0,0.24),0 11px 30px 0 rgba(0,0,0,0.19);
}
